version: "3.9"

services:
  keycloak:
    image: quay.io/keycloak/keycloak:25.0
    command: start-dev
    container_name: keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8180:8080"
